.ticket-action-box {
  background-color: #00bebe;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}
.ticket-action-box p {
  text-align: center;
}
.ticket-action-box p:last-child {
  margin-bottom: 0px;
}

.top-image img {
  filter: blur(5px);
}

.ticket-box {
  white-space: nowrap;
  padding: 0em 1em;
  border-bottom-left-radius: inherit;
  line-height: 0.9;
  text-align: center;
  display: flex;
  align-items: center;
}
.ticket-box .ticket-box-top {
  font-size: 1rem;
}

.schedule-table tbody tr {
  cursor: pointer;
}

.flip-list-move {
  transition: transform 1s;
}

.v-card.v-sheet.activity-card {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.v-card.v-sheet.activity-card:hover {
  box-shadow: 0 0 7px 7px rgba(0, 190, 190, 0.8);
}

@media (hover: hover) {
  .v-card.v-sheet.activity-card:hover {
    transform: translateY(var(--translate)) rotate(var(--rotate));
  }
}
.activity-card .activity-card-progress-markers {
  height: 10px;
}
.activity-card .activity-card-progress-markers .activity-card-progress-marker {
  height: 5px;
  margin-top: 5px;
  flex-grow: 1;
  border-left: 3px solid #1e1e1e !important;
  transition: margin-top 0.2s, height 0.2s;
}
.activity-card .activity-card-progress-markers .activity-card-progress-marker.active {
  margin-top: 0px;
  height: 10px;
}

.activity-card-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.activity-card-arrow:hover {
  background-color: #333;
}
