.activity-card {
  transition: transform 0.3s, box-shadow 0.3s;
  transform-origin: 100% 100%;
}
.activity-card:hover {
  cursor: pointer;
  transform: translateY(-1em) rotate(2deg);
  box-shadow: 0 5px 10px 2px rgba(0, 190, 190, 0.8);
}

.ticket-action-box {
  background-color: #00bebe;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}
.ticket-action-box p {
  text-align: center;
}
.ticket-action-box p:last-child {
  margin-bottom: 0px;
}

.top-image img {
  filter: blur(5px);
}

.ticket-box {
  white-space: nowrap;
  padding: 0em 1em;
  border-bottom-left-radius: inherit;
  line-height: 0.9;
  text-align: center;
}
.ticket-box .ticket-box-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.ticket-box .ticket-box-top {
  font-size: 2rem;
}
.ticket-box .ticket-box-count {
  vertical-align: middle;
}

.schedule-table tbody tr {
  cursor: pointer;
}
