@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

.v-main {
  padding-bottom: 200px !important;
}

.v-parallax h1 {
  font-family: "Rye", cursive;
  font-size: 5em;
  font-weight: normal;

  padding: 0.2em 0.5em;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939;
}

.ticket-action-box {
  background-color: #00bebe;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;

  p {
    text-align: center;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.top-image img {
  filter: blur(5px);
}

.ticket-box {
  white-space: nowrap;
  padding: 0em 1em;
  border-bottom-left-radius: inherit;
  line-height: 0.9;
  text-align: center;

  display: flex;
  align-items: center;
  font-size: 1rem;
}

.schedule-table {
  tbody tr {
    cursor: pointer;
  }
}

.flip-list-move {
  transition: transform 1s;
}

.v-card.v-sheet.activity-card {
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  transform-origin: 100% 100%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 7px 7px rgba(0, 190, 190, 0.8);
  }
}

@media (hover: hover) {
  .v-card.v-sheet.activity-card:hover {
    transform: translateY(-1em) rotate(2deg);
  }
}

.activity-card .activity-card-progress-markers {
  height: 10px;

  .activity-card-progress-marker {
    height: 5px;
    margin-top: 5px;
    flex-grow: 1;
    border-left: 3px solid #1e1e1e !important;
    transition: margin-top 0.2s, height 0.2s;

    &.active {
      margin-top: 0px;
      height: 10px;
    }
  }
}

.activity-card-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 5px;

  &:hover {
    background-color: #333;
  }
}

.leaderboard-time-symbol {
  font-size: 0.7em;
}

.avatar {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  line-height: normal;
  position: relative;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;

  &.avatar-bordered {
    border-style: solid;
  }

  img {
    border-radius: inherit;
    display: inline-flex;
    height: inherit;
    width: inherit;
  }
}

.avatar-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

td .avatar {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.completion-list {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
